<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="loaddata-issue.ZPM">
    <Module>
      <Name>loaddata-issue</Name>
      <Version>1.0.1</Version>
      <Description>Problem with loaddata</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="community.csvgen.generated.PKG"/>
    </Module>
  </Document>
</Export>